* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #444;
}

@media only screen and (min-width: 200px) {
    .not_found_h1 {
        padding-top: 100px;
        font-size: 25px;
    }

    .not_found_h2 {
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .not_found {
        font-size: 18px;
    }

    .not_found_page {
        text-align: center;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 60px;
    }
}