* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: stratos, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #444;
    line-height: 1.5;
}

@media only screen and (min-width: 200px) {
    .prompt_content {
        font-size: 25px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: big-caslon-fb, serif;
        font-weight: 700;
        font-style: normal;
    }

    .prompt_info {
        font-size: 18px;
    }

    .prompt_align, .add_comment {
        text-align: center;
    }

    .prompt_align {
        margin-top: 100px;
    }

    .prompt_button {
        margin-top: 20px;
        border: 0px;
        padding: 0px;
        height: 25px;
        width: 100px;
        border-radius: 1px;
        font-size: 12px;
        background-color: #ccc;
    }

    .prompt_link:link{
        color: #444;
        text-decoration: none;
    }

    .prompt_link:visited{
        color: #444;
        text-decoration: none;
    }

    .indi_prompt_category {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 50px;
        color: #F2C777;
        font-family: stratos, sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .comment_list {
        padding-bottom: 50px;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
        font-family: stratos, sans-serif;
        font-weight: 300;
        font-style: normal;

    }

    .comment_author {
        font-size: 12px;
        text-align: left;
        padding-top: 10px;
    }

    .comment_content {
        font-size: 15px;
        text-align: left;
    }

    .comment_list_item {
        margin-bottom: 20px;
        padding-top: 15px; 
        padding-left: 15px; 
        padding-right: 15px; 
        padding-bottom: 15px; 
    }

    .comment_list_item:nth-child(4n + 1) {
        background-color: #D9115A;
        color: #F2C777;
    }

    .comment_list_item:nth-child(4n + 2) {
        background-color: #1F3473;
        color: #23B7D9;
    }

    .comment_list_item:nth-child(4n + 3) {
        background-color: #23B7D9;
        color: #1F3473;
    }

    .comment_list_item:nth-child(4n + 4) {
        background-color: #F2C777;
        color: #D9115A;
    }
}

@media only screen and (min-width: 750px) {
    .prompt_align, .add_comment {
        /* margin-left: 200px; */
        margin-left: 50px;
        margin-right: 50px;
    }

    .indi_prompt_category {
        font-size: 18px;
    }

    .prompt_align {
        margin-top: 200px;
    }

    .indi_prompt_category {
        margin-bottom: 80px;
    }

    .prompt_content {
        font-size: 50px;
    }

    .comment_author {
        padding-top: 15px;
    }

    .comment_list_item {
        margin-bottom: 35px;
        padding-top: 20px; 
        padding-left: 20px; 
        padding-right: 20px; 
        padding-bottom: 20px; 
    }
}

@media only screen and (min-width: 800px) {
    .prompt_align, .add_comment {
        margin-left: 15%;
        margin-right: 15%;
    }
}