* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    color: #444;
}

@media only screen and (min-width: 200px) {
    .add_prompt_section {
        text-align: center;
        margin-top: 100px;
    }
    .submit_prompt_button {
        margin-bottom: 50px;
        border: 0px;
        padding: 0px;
        height: 25px;
        width: 100px;
        border-radius: 1px;
        background-color: #23B7D9;
        color: white;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        font-family: 'Oswald', sans-serif;
    }
    .submit_prompt_button:disabled {
        background-color: #aaa;
    }
    .input_field {
        border: 1px solid #aaa;
        width: 300px;
    }
    .author_field {
        height: 25px;
    }
    .text_label {
        margin-top: 30px;
    }
    .input_label {
        font-size: 15px;
        line-height: 0;
    }
    .option_field {
        margin-bottom: 30px;
        border: 0px;
        padding: 0px;
        height: 25px;
        width: 300px;
        border-radius: 1px;
        font-size: 12px;
        background-color: white;
        color: #444;
    }
    .dropdown_options {
        text-align: center;
    }
    .add_prompt_header {
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 40px;
        color: #1F3473;
    }
}

@media only screen and (min-width: 750px) {
    .add_prompt_section {
        margin-top: 175px;
    }
    .add_prompt_header {
        font-size: 55px;
        margin-bottom: 60px;
    }
    .input_label {
        font-size: 15px;
    }
    .submit_prompt_button {
        height: 30px;
        width: 200px;
        font-size: 15px;
        margin-bottom: 125px;
    }
    .submit_prompt_button:hover {
        height: 33px;
        width: 203px;
    }
}

@media only screen and (min-width: 800px) {
    .text_field {
        width: 500px;
        height: 200px;
    }
}