@media only screen and (min-width: 200px) {
    .nav_list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .nav_options {
        font-size: 13px;
        padding-top: 18px;
        font-family: stratos, sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    .link_style:link {
        text-decoration: none;
    }

    .link_style:visited {
        color: black;
    }

    .link_style:hover {
        color: grey;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: #aaa;
    }

    img {
        width: 50px;
    }

    .active {
        color: black;
    }
}

@media only screen and (min-width: 750px) {
    .nav_options {
        font-size: 15px;
        padding-top: 30px;
    }

    img {
        width: 75px;
    }
}