body {
    font-size: 20px;
    color: #444;
}

@media only screen and (min-width: 200px) {
    .submit_comment_button {
        border: 0px;
        padding: 0px;
        height: 25px;
        width: 100px;
        border-radius: 1px;
        font-size: 12px;
        background-color: #F2C777;
        color: white;
        font-weight: 500;
        font-style: normal;
    }

    .input_field {
        border: 1px solid #aaa;
        width: 300px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .author_field {
        height: 25px;
    }

    .input_label {
        line-height: 0;
        font-size: 18px;
        font-style: normal;
    }

    .comment_header {
        font-weight: 600;
        font-style: normal;
        font-size: 30px;
        color: #1F3473;
    }

    .add_comment_form {
        margin-top: 30px;
    }

    .submit_comment_button:disabled {
        background-color: #aaa;
    }
}

@media only screen and (min-width: 750px) {
    .input_field {
        width: 400px;
        font-size: 15px;
    }

    .author_field {
        width: 300px;
    }

    .submit_comment_button {
        height: 30px;
        width: 200px;
        font-size: 15px;
        margin-bottom: 75px;
    }

    .submit_comment_button:hover {
        height: 33px;
        width: 203px;
    }

    .comment_header {
        font-size: 40px;
    }
}

@media only screen and (min-width: 800px) {
    .text_field {
        width: 500px;
        height: 200px;
    }
}