* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #444;
}

@media only screen and (min-width: 200px) {
    .site_title {
        margin-top: 100px;
        margin-bottom: 60px;
    }
    
    .random_prompt {
        font-size: 18px;
        padding-bottom: 30px;
        text-align: center;
    }

    .site_description {
        padding-top: 60px;
        border-top: 1px solid #aaa;
    }

    .site_title, .site_description {
        margin-right: 30px;
        margin-left: 30px;
        text-align: center;
    }

    .main_page_buttons {
        margin-top: 20px;
        border: 0px;
        padding: 0px;
        height: 25px;
        width: 100px;
        border-radius: 1px;
        font-size: 12px;
        background-color: #ccc;
        font-family: stratos, sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .view_button {
        margin-right: 20px;
    }

    .para_two {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .para_two, .para_one {
        font-size: 16px;
        font-family: stratos, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .prompt_content_main {
        font-family: big-caslon-fb, serif;
        font-weight: 700;
        font-style: normal;
    }

    .main_page_headline {
        font-family: stratos, sans-serif;
        font-weight: 800;
        font-style: normal;
        font-size: 35px;
    }

    .main_page_subhead {
        font-family: stratos, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }
}

@media only screen and (min-width: 750px) {
    .main_page_headline {
        font-size: 50px;
        padding-top: 70px;
    }

    .main_page_subhead {
        font-size: 30px;
        padding-bottom: 40px;
    }

    .prompt_content_main {
        font-size: 25px;
    }

    .para_two, .para_one {
        font-size: 20px;
    }

    .para_two {
        margin-bottom: 100px;
    }

    .site_description {
        padding-top: 100px;
    }

    .random_prompt {
        padding-bottom: 100px;
    }

    .padding_prompt {
        padding-top: 100px;
    }

    .main_page_buttons {
        height: 30px;
        width: 200px;
        font-size: 15px;
    }

    .main_page_buttons:hover {
        background-color: #aaa;
    }
}

@media only screen and (min-width: 800px) {
    .site_title, .main_page_section, .site_description {
        margin-left: 15%;
        margin-right: 15%;
    }
}