@media only screen and (min-width: 200px) {
    footer {
        padding: 1% 0;
        font-size: 10px;
        background-color: #F2F2F2;
        text-align: center;
        font-weight: 300;
        font-style: normal;
    }
}

@media only screen and (min-width: 750px) {
    footer {
        text-align: right;
        padding-right: 20px;
        font-size: 13px;
    }
}